@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: box-border;
}
body {
  background-color: rgb(36, 36, 36);
  font-family: "Klee One", cursive;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 30px;
  background-color: #763857;
  font-family: "Klee One", cursive;
}

.nav button {
  background-color: #8f4068;
  outline: none;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-family: "Klee One", cursive;
  width: 100px;
}

.nav button:hover {
  background-color: #bfb051;
}

.Card img {
  width: 150px;
  margin-top: 10px;
  height: 150px;
  border-radius: 50%;
  border: 8px solid white;
}

.Card_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Klee One", cursive;
  background-color: #bfb051;
  width: 250px;
  height: 350px;

  padding: 25px;
  border-radius: 30px;
  cursor: pointer;
  margin: 40px;
  transition: 0.4s ease-in-out;
}

.Card h3 {
  color: white;
  margin-top: 5px;
}
.Card h2 {
  color: white;
  padding: 10px;
}
.Card p {
  color: #e7e0c9;
  font-size: 15px;
}

.Card:hover {
  background-color: #8f4068;
  border: 5px solid white;
  transition: 0.4s ease-in-out;
}

.Loader {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
